// ===================================бургер меню=================================
.burger {
	// display: none;
	@media (max-width: 767.98px) {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		width: 26px;
		height: 12px;
		cursor: pointer;
		z-index: 25;
		span {
			transition: all 0.3s ease 0s;
			display: block;
			margin-bottom: 2px;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
		&.active {
			span {
				background-color: #ffffff;
				margin-bottom: -2px;
				transform: scale(0);
				&:first-child {
					transform: translateY(3px) rotate(-45deg);
				}
				&:last-child {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}
}
// ===============================================
.header {
}
.header-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 50px;
	padding: 17.5px 0;
	background: #212121;
	&__row {
	}
	&__menu {
	}
}
.menu {
	&__body {
	}
	&__list {
		display: flex;
		justify-content: space-between;

		li {
			padding: 0px 30px;
			border-right: 2px dotted #000;
			&:first-child {
				margin-left: 30px;
			}
			&:last-child {
				margin-right: 30px;
				border-right: none;
			}
			@media (max-width: 1199.98px) {
				padding: 0px 24px;
			}
			@media (max-width: 991.98px) {
				padding: 0px 23px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__link {
		padding: 10px 0;
		font-weight: 300;
		font-size: 15px;
		// line-height: 50px;
		color: #ffffff;
		@media (max-width: 1199.98px) {
			font-size: 13px;
		}
		@media (max-width: 991.98px) {
			font-size: 10px;
		}
		&__icon {
		}
	}
	@media (max-width: 767.98px) {
		&__body {
			display: flex;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			left: -100%;
			z-index: 20;
			width: 80%;
			height: 100vh;
			padding: 50px 15px;
			background-color: #212121ea;
			transition: all 0.3s 0s;
			&.active {
				left: 0;
			}
		}
		&__list {
			flex-direction: column;
			align-items: center;
			text-align: center;
			li {
				border-right: none;
				margin-bottom: 18px;
			}
		}
		&__link {
			font-size: 24px;
		}
	}
}
.header-bottom {
	position: absolute; //позиционируем нижний хэдер что-бы картинка main-screen зашла под него
	top: 50px;
	width: 100%;
	padding: 22px 0;
	background: rgb(0 0 0 / 60%);
	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 575.98px) {
			align-items: center;
		}
	}
	&__label {
		margin-left: 90px;
		@media (max-width: 991.98px) {
			margin-left: 60px;
		}
		@media (max-width: 767.98px) {
			margin-left: 15px;
		}
		@media (max-width: 575.98px) {
			margin-left: 0;
		}
	}
	&__logo {
		margin-bottom: 10px;

		@media (max-width: 991.98px) {
			width: 250px;
			img {
				width: 100%;
			}
		}
		@media (max-width: 575.98px) {
			width: 130px;
			margin-bottom: 0;
		}
	}
	&__official {
		font-weight: 100;
		font-size: 13px;
		color: #ffffff;
		@media (max-width: 991.98px) {
			font-size: 11px;
		}
		@media (max-width: 575.98px) {
			display: none;
		}
	}
	&__content {		
		margin-right: 90px;
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			margin-right: 60px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			
			margin-right: 21px;
		}
		@media (max-width: 575.98px) {
			margin-right: 0;
		}
	}
	&__item {
	}
	&__call {
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 12px;
		color: #ffffff;
		text-align: right;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
	&__phone {
		font-weight: 400;
		font-size: 22px;
		color: #ffffff;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		@media (max-width: 767.98px) {
			display: block;
			font-size: 16px;
			margin-bottom: 8px;
		}
		@media (max-width: 575.98px) {
			font-size: 12px;
		}
	}
	&__btn {
		margin-left: 32px;
		@media (max-width: 991.98px) {
			margin-left: 18px;
			
		}
		@media (max-width: 767.98px) {
			margin-left: 0;
		}
		@media (max-width: 575.98px) {
			
		}
	}
	@media (max-width: 575.98px) {
		padding: 9px 0;
	}
}
